// ANIMATIONS
section{
    //animazione sfondo
    .layout-enter-active,
    .layout-leave-active {   
        transform: scale(1.0);
        transition: transform 2.5s ease-in-out;
    }
    .layout-enter-from,
    .layout-leave-to {
        transform: scale(3.0); 
    }

     //animazione sfondo
    .info-enter-active,
    .info-leave-active {   
        transition: opacity 2s ease-in-out;
    }

    .info-enter-from,
    .info-leave-to {
        opacity: 0;
    }

    // LAYOUT VIDEO HERO
    .hero-media {
        position: relative;
        overflow: hidden;
        max-height: calc(100vh - 10vh);
        background-color: white;

            .hero-video {
                display: block; //Per margine creato da video
                width: 100%;
                height: 100vh;
                object-fit: cover; 
            }
            &::after{
                content:'';
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,0.3);
            }

            .content {
                text-align: center;
                color: white;
                position: absolute;
                bottom: 50%; 
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 10; 

                @keyframes dash-move {
                      0%, 49% {
                        opacity: 0;
                      }
                      50%, 100% {
                        opacity: 1;
                      }
                  }
                               
                .dash{
                    animation: dash-move 0.8s linear infinite;
                }              
                hr{
                    margin: 4px;
                }
            }
    }
}
