// ANIMATIONS
.layout-enter-active,
.layout-leave-active {   
    transform: scale(1.0);
    transition: transform 4s ease-in-out;
}
.layout-enter-from,
.layout-leave-to {
    transform: scale(1.6); 
}

.info-enter-active,
.info-leave-active {     
    transition: opacity 1.5s ease-in-out;    
}

.info-enter-from,
.info-leave-to {
    opacity: 0;
}

// LAYOUT VIDEO HERO
.hero-media {
    position: relative;
    overflow: hidden;

        .hero-video {
            display: block; //Per margine creato da video
            width: 100%;
            height: 100%;
            object-fit: cover;         
        }

        .info{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .content {
            color: black;
            position: absolute;
            bottom: 50%; 
            z-index: 10;
            border-radius: 10px;
            font-size: 500;
         
            font-size: 40px;
                hr{
                    height: 3px; 
                    background-color: black; 
                    margin: 10px;
                }
        }
}
