$primary-color: rgb(165, 165, 165);
$secondary-color: rgb(12, 21, 37);
$baffo:rgb(37, 62, 107);

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;

    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
  }
