$primary-color: #2d2d2d;
$secondary-color: rgb(191, 191, 191);
$baffo:rgb(140, 9, 211);

* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
  }
